html, body {
  background-image: linear-gradient(#121212, #343434, #121212);
  background-size: cover;
  overflow-x:hidden;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/farisea-dark.fraktur.ttf);
}

div {
  font-family: myFirstFont;
}

h1 {
  -webkit-text-stroke: .19vh black;
  color: whitesmoke;
  text-align: center;
}

p {
  -webkit-text-stroke: .22vh black;
  color: whitesmoke;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.About_me {
  font-size: 6vh;
  color: whitesmoke;
  -webkit-text-stroke: 0.15vh black;
  padding-top: 5vh;

}
.header {
  padding-bottom: 0.1vh;
}
.Ptext {
  color: whitesmoke;
}

.Proheader {
  font-size: 4vh;

}

.Prodesc {
  font-size: 3.8vh;
}

.skillname{
  font-size: 4vh;
  padding-top: .5vh;
}

.skills {
  background-color: whitesmoke;
  text-align: center;
  border-style: solid;
  width: 99%;
  flex: 50%;
  display: flex;
  padding-left: .5em;
}

.python {
  padding-right: 3em;
  padding-left: 1em;
  height: 6em;
  padding-top: .4em;
}

.html {
  padding-right: 3em;
  height: 7em;
}

.css {
  padding-right: 3em;
  height: 7em;
}

.django { 
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.javascript {
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.java {
  padding-right: 3em;
  height: 6.5em;
}

.spring {
  padding-right: 3em;
  height: 6em;
  padding-top: .3em;
}

.sql {
  padding-right: 3em;
  height: 7em;
}

.BS {
  padding-right: 2em;
  height: 7em;
}

.StocksUp {
  width: 35em;
  height: 20em;
  margin-left: 6em;
  border-style: solid;
  border-color: whitesmoke;

}

.Explorer {
  width: 35em;
  height: 20em;
  margin-right: 5em;
  border-style: solid;
  border-color: whitesmoke;
}

.Reflex {
  margin-left: 24em;
  width: 35em;
  height: 20em;
  margin-top: .5em;
  border-style: solid;
  border-color: whitesmoke;

}

.Contacts{
  font-size: 4vh;
}

.Cimages{
  display: flex;
  margin-top: 10vh;
  margin-bottom:15vh;
}

.Gmail {
  height: 25vh;
  width: 12vw;
}

.Gmaillink {
  height: 25vh;
  width: 12vw;
  margin-left: 16vw;
  margin-right: 16vw;
}

.Github {
  height: 25vh;
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
}

.Linkedin{
  height: 25vh;
  width: 12vw;
}

.linklink{
  height: 25vh;
  width: 12vw;
  margin-left: 16vw;
  margin-right: 16vw;

}

.dropbtn {
  background-color: #818589 ;
   color: white;
   padding: 20px;
  width: 10vw;
  font-size: 30px;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
 }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    top: 74px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f9f9f9;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #36454F;
   }

   /*Phones*/
   @media only screen 
   and (max-device-width: 600px) 
   and (-webkit-min-device-pixel-ratio: 1) {
    .skills{
      background-color: whitesmoke;
      text-align: center;
      border-style: solid;
      border-color: black;
      -webkit-text-stroke: 3vh Gray;
      height: fit-content;
      width: 99%;
      flex: 100%;
      display: block;
      grid-template-columns: auto auto auto;
      padding-bottom: 0;
      padding-left: 5vw;
    }

    .About_me {
      font-size: 5vh;
    }

    .Proheader {
      font-size: 8vw;
      padding-top: 6vh;
      text-align:center
    }

    .Prodesc{
      font-size: 8vw;
      text-align: center;
    }

    .StocksUp{
      margin-left: 12vw;
      width: 75%;
      margin-bottom: 2vh;
    }
  
    .Explorer{
      margin-left: 12vw;
      width: 75%;
      margin-bottom: 2vh;
    }

    .Reflex{
      margin-left: 12vw;
      width: 75%
    }

    .Cimages{
      display: flex;
      margin-top: 5vh;
      margin-bottom:10vh;
    }
    
    .Gmail {
      height: 8vh;
      width: 15vw;
    }
    
    .Gmaillink {
      height: 8vh;
      width: 15vw;
      margin-left: 15vw;
      margin-right: 15vw;
    }
    
    .Github {
      height: 8vh;
      width: 15vw;
      margin-left: auto;
      margin-right: auto;
    }
    
    .Linkedin{
      height: 8vh;
      width: 15vw;
    }

    .linklink {
     height: 8vh;
     width: 15vw;
     margin-left: 15vw;
     margin-right: 15vw;
    }


  
    .dropbtn {
      background-color: #818589 ;
       color: white;
       padding: 20px;
      width: 25vw;
      font-size: 30px;
      border: none;
      cursor: pointer;
      position: fixed;
      left: 0;
      top: 0;
     }
  }
/*Ipads*/
  @media only screen 
  and (min-device-width:601px)
  and (max-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .skills{
      background-color: whitesmoke;
      text-align: center;
      border-style: solid;
      border-color: black;
      -webkit-text-stroke: 3vh Gray;
      height: fit-content;
      width: 99%;
      flex: 100%;
      display: block;
      grid-template-columns: auto auto auto;
      padding-bottom: 0;
      padding-left: 5vw;
    }

    .Proheader {
      font-size: 8vw;
      padding-top: 6vh;
      text-align:center
    }

    .Prodesc{
      font-size: 8vw;
      text-align: center;
    }

    .StocksUp{
      margin-left: 12vw;
      width: 75%;
      margin-bottom: 2vh;
    }
  
    .Explorer{
      margin-left: 12vw;
      width: 75%;
      margin-bottom: 2vh;
    }

    .Reflex{
      margin-left: 12vw;
      width: 75%
    }

    .Cimages{
      display: flex;
      margin-top: 5vh;
      margin-bottom:10vh;
    }
    
    .Gmail {
      height: 12vh;
      width: 15vw;
    }
    
    .Gmaillink {
      height: 12vh;
      width: 15vw;
      margin-left: 15vw;
      margin-right: 15vw;
    }
    
    .Github {
      height: 12vh;
      width: 15vw;
      margin-left: auto;
      margin-right: auto;
    }
    
    .Linkedin{
      height: 12vh;
      width: 15vw;
    }

    .linklink {
      height: 12vh;
      width: 15vw;
      margin-left: 15vw;
      margin-right: 15vw;
     }
    
  }
/*Mobile devices slightly bigger then Ipads but not Desktop*/
  @media only screen 
  and (min-device-width:1001px)
  and (max-device-width: 1300px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .skills{
      background-color: whitesmoke;
      text-align: center;
      border-style: solid;
      border-color: black;
      -webkit-text-stroke: 3vh Gray;
      height: fit-content;
      width: 95%;
      flex: 100%;
      display: block;
      grid-template-columns: auto auto auto;
      padding-bottom: 0;
      padding-left: 5vw;
    }

    .Proheader {
      font-size: 8vw;
      padding-top: 6vh;
      text-align:center
    }

    .Prodesc{
      font-size: 8vw;
      text-align: center;
    }

    .StocksUp{
      margin-left: 12vw;
      width: 75%;
      margin-bottom: 2vh;
    }
  
    .Explorer{
      margin-left: 12vw;
      width: 75%;
      margin-bottom: 2vh;
    }

    .Reflex{
      margin-left: 12vw;
      width: 75%
    }

    .Cimages{
      display: flex;
      margin-top: 5vh;
      margin-bottom:10vh;
    }
    
    .Gmail {
      width: 20vw;
      height: vh;
      /* margin-left: 15vh;
      margin-right: 40vh; */
    }
    
    .Gmaillink {
      width: 20vw;
      margin-left: 10vw;
      margin-right: 10vw;
    }
    
    .Github {
      width: 20vw;
      margin-left: auto;
      margin-right: auto;
    }
    
    .Linkedin{
      width: 20vw;
    }

    .linklink {
      width: 20vw;
      margin-left: 10vw;
      margin-right: 10vw;
     }
  }