body {
  background-image: linear-gradient(black, #343434, black);
  background-size: cover;
  overflow-x:hidden;
  padding: 0;
  margin: 0;
}

.About_me {
  font-size: 50px;
  text-align: center;
  color: white;
}

.header{
  color: white;
}

.PI {
  height: 20px;
  }

.Ptext {
  color: white;
  text-align: center;
}

.Proheader {
  font-size: 30px;
  color: white;
  text-align: center;

}

.Prodesc {
  font-size: 20px;
  color: white;
  text-align: center;

}

.skillname{
  color: white;
  text-align: center;
}
.skills {
  background-color: white;
  text-align: center;
  border-style: solid;
  height: 110px;
  width: 99%;
  flex: 50%;
  display: flex;
  padding-left: .5em;
}

.python {
  padding-right: 3em;
  padding-left: 1em;
  height: 6em;
  padding-top: .4em;
}

.html {
  padding-right: 3em;
  height: 7em;
}

.css {
  padding-right: 3em;
  height: 7em;
}

.django { 
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.javascript {
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.java {
  padding-right: 3em;
  height: 6.5em;
}

.spring {
  padding-right: 3em;
  height: 6em;
  padding-top: .3em;
}

.sql {
  padding-right: 3em;
  height: 7em;
}

.BS {
  padding-right: 2em;
  height: 7em;
}

.PI {
padding-top: 1em;
}

.StocksUp {
  width: 35em;
  height: 20em;
  padding-left: 5em;
}

.Explorer {
  width: 35em;
  height: 20em;
  padding-left: 3em;
  padding-right: 5em;
}

.Reflex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 35em;
  height: 20em;
  padding-top: 1em;

}
.dropbtn {
    background-color: #5f0909 ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 0.2%;
    top: 0.5em;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f9f9f9;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #880808;
  }

  