body {
  background-image: linear-gradient(#121212, #343434, #121212);
  background-size: cover;
  overflow-x:hidden;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/farisea-dark.fraktur.ttf);
}

div {
  font-family: myFirstFont;
}

h1 {
  -webkit-text-stroke: 1.3px black;
  color: whitesmoke;
  text-align: center;
}

p {
  -webkit-text-stroke: 1.5px black;
  color: whitesmoke;
  text-align: center;
}

.About_me {
  font-size: 40px;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
  padding-top: 5vh;

}
.header {
  padding-bottom: 0.1vh;
}
.Ptext {
  color: whitesmoke;
}

.Proheader {
  font-size: 30px;

}

.Prodesc {
  font-size: 25px;


}

.skillname{
  font-size: 20px;
  padding-top: .5vh;
}

.skills {
  background-color: whitesmoke;
  text-align: center;
  border-style: solid;
  height: 110px;
  width: 99%;
  flex: 50%;
  display: flex;
  padding-left: .5em;
}

.python {
  padding-right: 3em;
  padding-left: 1em;
  height: 6em;
  padding-top: .4em;
}

.html {
  padding-right: 3em;
  height: 7em;
}

.css {
  padding-right: 3em;
  height: 7em;
}

.django { 
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.javascript {
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.java {
  padding-right: 3em;
  height: 6.5em;
}

.spring {
  padding-right: 3em;
  height: 6em;
  padding-top: .3em;
}

.sql {
  padding-right: 3em;
  height: 7em;
}

.BS {
  padding-right: 2em;
  height: 7em;
}

.StocksUp {
  width: 35em;
  height: 20em;
  margin-left: 6em;
  border-style: solid;
  border-color: whitesmoke;

}

.Explorer {
  width: 35em;
  height: 20em;
  margin-right: 5em;
  border-style: solid;
  border-color: whitesmoke;
}

.Reflex {
  margin-left: 24em;
  width: 35em;
  height: 20em;
  margin-top: .5em;
  border-style: solid;
  border-color: whitesmoke;

}

.Contacts{
  font-size: 30px;
}

.Cimages{
  display: flex;
  margin-top: 2em;
  margin-bottom:15vh;
}

.Gmail {
  width: 32vh;
  margin-left: 15vh;
  margin-right: 40vh;
  border-style: solid;
}

.Github {
  width: 32vh;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}

.Linkedin{
  width: 32vh;
  margin-left: 40vh;
  margin-right: 15vh;
  border-style: solid;
}

.dropbtn {
    background-color: #5f0909 ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f9f9f9;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #880808;
   }

  