html, body {
  background-image: linear-gradient(#121212, #343434, #121212);
  background-size: cover;
  overflow-x:hidden;
  padding: 0;
  margin: 0;
}
/* pasted code */
/* .pythoncard {
  height: 500px;
  width: 335px;
  padding: 20px 35px;
  background-color: #F5B112;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
} */

@font-face {
  font-family: myFirstFont;
  src: url(fonts/farisea-dark.fraktur.ttf);
}

div {
  font-family: myFirstFont;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.About_me {
  font-size: 6vh;
  color: whitesmoke;
  -webkit-text-stroke: 0.15vh black;
  padding-top: 5vh;
}

.description {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
  padding-bottom: 0.1vh;
}

.Proheader {
  font-size: 1vh;
  -webkit-text-stroke: .19vh black;
  color: whitesmoke;
  text-align: center;
}

.desc{
  font-size: 3.7vh;
  -webkit-text-stroke: .22vh black;
  color: whitesmoke;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Project-Grid */

.prowrapper {
  display: grid;
  grid-template-columns:repeat(3, .25fr);
  grid-gap: 3em;
  grid-auto-rows: minmax(300px, auto);
  padding: 1em;
  justify-content: center;
}

.prowrapper > div {
  background: #818181;
  padding:1em;
  border-radius: 20px;
}

.prowrapper > div:nth-child(odd) {
  background:#121212;
  padding:1em;
  border-radius: 20px;
}

.gridheaders {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 0.12vh #121212 ;
  color: whitesmoke;
  text-align: center;
}

.prodesc {
  font-size: 1.83vh;
  -webkit-text-stroke: .1vh black;
  color: whitesmoke;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.probutton {
  text-align: center;
}

.probutton1 {
  padding-top: 2vh;
}

.probutton3 {
  padding-top: 2.5vh;
}

.probutton4 {
  padding-top: .25vh;
}

.prowrapper img {
  width: 6rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.buttondesign {
  box-shadow: 0px 1px 0px 0px #121212;
	background-color:whitesmoke;
	border-radius:15px;
	border:2px solid #121212;
	display:inline-block;
	cursor:pointer;
	color:#343434;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f9f9f9;
}

/* Project-Grid end */


.skillname{
  font-size: 6vh;
  padding-top: 6vh;
  -webkit-text-stroke: .19vh black;
  color: whitesmoke;

}

.skills {
  background-color: whitesmoke;
  text-align: center;
  border-style: solid;
  width: 99%;
  flex: 50%;
  display: flex;
  padding-left: .5em;
}

.python {
  padding-right: 3em;
  padding-left: 1em;
  height: 6em;
  padding-top: .4em;
}

.html {
  padding-right: 3em;
  height: 7em;
}

.css {
  padding-right: 3em;
  height: 7em;
}

.django { 
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.javascript {
  padding-right: 3em;
  height: 6em;
  padding-top: .4em;
}

.java {
  padding-right: 3em;
  height: 6.5em;
}

.spring {
  padding-right: 3em;
  height: 6em;
  padding-top: .3em;
}

.sql {
  padding-right: 3em;
  height: 7em;
}

.BS {
  padding-right: 2em;
  height: 7em;
}

.Contacts{
  font-size: 3.8vh;
  -webkit-text-stroke: .19vh black;
  color: whitesmoke;
}

.Cheader {
  font-size: 5vh;
}

.Cimages{
  display: flex;
  margin-top: 10vh;
  margin-bottom:15vh;
}

.Gmail {
  height: 25vh;
  width: 12vw;
}

.Gmaillink {
  height: 25vh;
  width: 12vw;
  margin-left: 16vw;
  margin-right: 16vw;
}

.Github {
  height: 25vh;
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
}

.Linkedin{
  height: 25vh;
  width: 12vw;
}

.linklink{
  height: 25vh;
  width: 12vw;
  margin-left: 16vw;
  margin-right: 16vw;

}

.dropbtn {
  background-color: #818589 ;
   color: white;
   padding: 20px;
  width: 10vw;
  font-size: 30px;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
 }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    top: 74px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f9f9f9;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #36454F;
   }

   /*Phones*/
   @media only screen 
   and (max-device-width: 600px) 
   and (-webkit-min-device-pixel-ratio: 1) {

    .skills{
      background-color: whitesmoke;
      text-align: center;
      border-style: solid;
      border-color: black;
      -webkit-text-stroke: 3vh Gray;
      height: fit-content;
      width: 99%;
      flex: 100%;
      display: block;
      grid-template-columns: auto auto auto;
      padding-bottom: 0;
      padding-left: 5vw;
    }

    .About_me {
      font-size: 5vh;
    }

    .Proheader {
      font-size: 8vw;
      padding-top: 6vh;
      text-align:center
    }

    .prowrapper {
      display: grid;
      grid-template-columns:repeat(1, 1fr);
      grid-gap: 2em;
      padding: 1em;
      justify-content: center;
    }
    
    .prodesc {
      font-size: 2.6vh;
      -webkit-text-stroke: .12vh black;
    }

    .probutton1 {
      padding-top: 1vh;
    }
    
    .probutton3 {
      padding-top: .25vh;
    }
    
    .probutton4 {
      padding-top: .25vh;
    }
    
    .prowrapper img {
      width: 6.5rem;
    }
    
    .buttondesign {
      font-size:18px;
    }

    .Cimages{
      display: flex;
      margin-top: 5vh;
      margin-bottom:10vh;
    }
    
    .Gmail {
      height: 8vh;
      width: 15vw;
    }
    
    .Gmaillink {
      height: 8vh;
      width: 15vw;
      margin-left: 15vw;
      margin-right: 15vw;
    }
    
    .Github {
      height: 8vh;
      width: 15vw;
      margin-left: auto;
      margin-right: auto;
    }
    
    .Linkedin{
      height: 8vh;
      width: 15vw;
    }

    .linklink {
     height: 8vh;
     width: 15vw;
     margin-left: 15vw;
     margin-right: 15vw;
    }

    .dropbtn {
      background-color: #818589 ;
      color: white;
      padding: 15px;
      width: 30vw;
      font-size: 25px;
      border: none;
      cursor: pointer;
      position: fixed;
      left: 0;
      top: 0;
     }

     .dropdown-content {
      display: none;
      position: fixed;
      top: 60px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      left: 0%;
    }
  }

/*Ipads*/
  @media only screen 
  and (min-device-width:601px)
  and (max-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .skills{
      background-color: whitesmoke;
      text-align: center;
      border-style: solid;
      border-color: black;
      -webkit-text-stroke: 3vh Gray;
      height: fit-content;
      width: 99%;
      flex: 100%;
      display: block;
      grid-template-columns: auto auto auto;
      padding-bottom: 0;
      padding-left: 5vw;
    }

    .Proheader {
      font-size: 8vw;
      padding-top: 6vh;
      text-align:center
    }

    .prowrapper {
      display: grid;
      grid-template-columns:repeat(2, .55fr);
      grid-auto-rows: minmax(10px, auto);
      grid-gap: 2em;
      padding: 1em;
      justify-content: center;
    }
    
    .prodesc {
      font-size: 2.2vh;
      -webkit-text-stroke: .12vh black;
    }

    .probutton1 {
      padding-top: 2vh;
    }
    
    .probutton3 {
      padding-top: .25vh;
    }
    
    .probutton4 {
      padding-top: .25vh;
    }

    .probutton5 {
      padding-top: 2vh;
    }
    
    .prowrapper img {
      width: 9rem;
    }
    
    .buttondesign {
      font-size:20px;
    }

    .Cimages{
      display: flex;
      margin-top: 5vh;
      margin-bottom:10vh;
    }
    
    .Gmail {
      height: 12vh;
      width: 15vw;
    }
    
    .Gmaillink {
      height: 12vh;
      width: 15vw;
      margin-left: 15vw;
      margin-right: 15vw;
    }
    
    .Github {
      height: 12vh;
      width: 15vw;
      margin-left: auto;
      margin-right: auto;
    }
    
    .Linkedin{
      height: 12vh;
      width: 15vw;
    }

    .linklink {
      height: 12vh;
      width: 15vw;
      margin-left: 15vw;
      margin-right: 15vw;
     }

     .dropbtn {
      background-color: #818589 ;
       color: white;
       padding: 20px;
       width: 15vw;
       font-size: 30px;
       border: none;
       cursor: pointer;
       position: fixed;
       left: 0;
       top: 0;
     }
    
  }
/*Mobile devices slightly bigger then Ipads but not Desktop*/
  @media only screen 
  and (min-device-width:1001px)
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .skills{
      background-color: whitesmoke;
      text-align: center;
      border-style: solid;
      border-color: black;
      -webkit-text-stroke: 3vh Gray;
      height: fit-content;
      width: 95%;
      flex: 100%;
      display: block;
      grid-template-columns: auto auto auto;
      padding-bottom: 0;
      padding-left: 5vw;
    }

    .Proheader {
      font-size: 4vw;
      padding-top: 6vh;
      text-align:center
    }

    .Prodesc{
      font-size: 3vw;
      text-align: center;
    }

    .Cimages{
      display: flex;
      margin-top: 5vh;
      margin-bottom:10vh;
    }
    
    .Gmail {
      width: 20vw;
    }
    
    .Gmaillink {
      width: 20vw;
      margin-left: 10vw;
      margin-right: 10vw;
    }
    
    .Github {
      width: 20vw;
      margin-left: auto;
      margin-right: auto;
    }
    
    .Linkedin{
      width: 20vw;
    }

    .linklink {
      width: 20vw;
      margin-left: 10vw;
      margin-right: 10vw;
     }
  }